<header class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#jk-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ '/' | prefix: site.baseurl }}">Jake Keogh for Knox</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav class="collapse navbar-collapse" id="jk-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% for thispage in site.data.navbar %}{% assign thepage = site.pages | where: 'title', thispage.title | first %}{% unless thepage %}{% assign thepage = site.pages | where: 'url', thispage.url | first %}{% endunless %}
        <li{% if thepage.url == page.url %} class="active"{% endif %}><a href="{{ thepage.url | prefix: site.baseurl }}">{{ thispage.title }}<span class="sr-only"> (current)</span></a></li>
        {% endfor %}
      </ul>

    </nav><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>