// ==========================================================================
// LANDING PAGE STYLES
// ==========================================================================
$dark-raspberry: #91255f;
$imperial-purple: #60193f;
$slate-blue: #6c60db;
$contrast-colour: #fff;

@import 'bootstrap/normalize';

body.t-landing-page {
  background-color: $dark-raspberry;
  color: $contrast-colour;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1vh 1vh 5px $imperial-purple;

  footer {
    background-color: $imperial-purple;
    bottom: 0;
    box-sizing: border-box;
    color: lighten($imperial-purple, 60);
    font-size: .5rem;
    padding: 5px 30px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

.c-landing-title {
  font-family: 'Raleway', sans-serif;
  font-size: 12vmax;
  font-weight: 800;
  margin: 15vh 5px 5px;
  text-align: center;
}

ul.c-landing-links {
  font-size: 12vmax;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    color: $contrast-colour;

    &:hover,
    &:focus {
      color: lighten($slate-blue, 10);
    }
  }
}

.c-form {
  margin-top: 5vmax;
  padding: 0 5px;
  text-align: center;

  input {
    background-color: darken($dark-raspberry, 5);
    border: 2px solid $imperial-purple;
    border-radius: .25rem;
    color: $contrast-colour;
    display: inline-block;
    margin: 2px;
    padding: 5px;
  }

  .button {
    height: 2rem;
  }
}
