// ==========================================================================
// SITE HEADER
// ==========================================================================
.c-site-header {
    margin-top: 10px;
    border: 0;
    background-color: $colour-labor-red;
    min-height: $header-height;
    padding-right: $logo-fold-width;
    margin-right: $logo-stars-width;
}

.c-site-header__wrapper {
    // margin-left: $header-height;
    // margin-right: $header-height - $logo-blue-width + $logo-fold-width;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

}

.c-site-header__logo {
    position: relative;
    width: $logo-blue-width;
    height: $header-height;
    background-color: $colour-labor-blue;
    bottom: -$logo-fold-drop;
    margin-right: -$logo-blue-width;
    margin-left: auto;
    z-index: -1;
}

.c-site-header__logo__fold {
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: $logo-fold-drop solid darken($labor-blue,20%);
    border-right: $logo-fold-width solid transparent;
}

.c-site-header__logo__stars {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}

.c-site-title {
    // max-height: 0.6*$header-height;
    font-family: $font-Gotham-substitute;
    font-size: 0.5*$header-height;
    line-height: 1em;
    float: left;
    color: white;
    text-transform: uppercase;
    text-align: left;

    @include media-query($site-title-maximum-width) {
        font-size: 0.3*$header-height;
        padding: 0.2*$header-height 0;
        // line-height: 0rem;
    }
}

.c-site-title__upper {
    display: inline-block;
    margin-right: 0.25em;
    font-weight: 800;
    // line-height: $header-height;
    @include media-query($site-title-maximum-width) {
        // line-height: 0.7*$header-height;
    }
}

.c-site-title__lower {
    display: inline-block;
    font-weight: 400;
    // line-height: $header-height;
    // @include media-query($site-title-maximum-width) {
    //     line-height: 0.3*$header-height;
    // }
}

.c-site-nav {
    float: right;
    line-height: $header-height;

    @include media-query($on-palm) {
        display: block;
        float: left;
        // color: $colour-labor-red;
        line-height: 0.6*$header-height;
    }
}

.c-site-nav__page-link {
    font-family: $font-ExBlackCond-substitute;
    font-weight: $font-ExBlackCond-substitute-weight;
    font-stretch: condensed;
    font-size: 0.4*$header-height;
    text-transform: uppercase;
    color: $colour-header-text;

    &:not(:last-child) {
        margin-right: 1rem;
    }

    @include media-query($on-palm) {
        // color: $colour-labor-red;
        font-size: 0.3*$header-height;
    }
}