// ==========================================================================
// PAGE BANNERS
// ==========================================================================

.c-banner {
  background-image: url('/images/banner.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border: .1px solid transparent;
  min-height: 66vh;
  padding: 0 5vw;
  text-align: 50% 90%;

  h1,
  h2 {
    background-color: $dark-raspberry;
    box-shadow: $dark-raspberry 1.3vmax 0 0 0, $dark-raspberry (-1.3vmax) 0 0 0, 0 1.3vmax 10px -2px black;
    color: white;
    display: inline;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-size: 6.5vmax;
    font-weight: 800;
  }

  h2 {
    font-size: 4.5vmax;
    font-weight: 700;
  }
}

.c-banner__tagline {
  font-style: italic;
}

.c-banner__text {
  display: block;
  margin: 10vh 0;
  max-width: 50vw;

  // padding: 0 $padding-xs-horizontal;
}
