// ==========================================================================
// HEADER
// ==========================================================================

.c-site-header {
  background-color: $primary-color;
  display: block;
  min-height: $header-height;
}
