// ==========================================================================
// HEADER
// ==========================================================================

.c-site-header {
	display: block;
	min-height: $header-height;
	background-color: $primary-color;
}