.c-page__title {
  background-color: $dark-raspberry;
  box-shadow: $dark-raspberry 0.2em 0px 0px 0px, $dark-raspberry (-0.2em) 0px 0px 0px, 0 0.2em 10px black;
  color: white;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}

h1.c-page__title {
  font-size: 6.5vmax;
}

h2.c-page__title {
  font-size: 4.5vmax;
}

.c-text--copy {
  a {
    text-decoration: underline;
  }
}

.c-text--lining-numbers {
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
}

.c-text--typewriter {
  font-family: monospace;
}

.c-link--readmore {
  // display: block;
  margin: 0 0 1rem;
}

.btn-xs {
  font-size: 1.8rem;
}