---
layout: default
---
<article class="c-release">

	<h1 class="c-release__title">Media Release</h1>

	<header class="c-release__header">
		{% for member in page.members %}
		<h2 class="c-release__member">{{ member | replace: ', ', '<br>' }}</h2>
		{% endfor %}
	</header>

	<h3 class="c-release__headline" itemprop="name headline">{{ page.title }}</h1>

	{{ content }}

	<p class="c-release__date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%A, %-d %B %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

</article>
